/* Full page styles */
.page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

/* Main sections */
.header {
  background-color: rgb(0, 255, 13); 
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 30px;
  padding-right: 30px;
}

.projects {
  background-color: rgb(255, 196, 0);
  grid-column: 2 / 3;
  grid-row: 2 / 3

}

.sidebar {
  background-color: blueviolet;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.relevent {
  background-color: red;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* Header sub-sections */
.profile-image {
  width: auto;
  height: 70px;
  width: auto;
  border-radius: 100%;
  border: 2px solid black;
}
.small {
  height: 50px;
}
.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.profile-text,
.profile-text h1,
.profile-text h4 {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.user-settings {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin-right: 30px;
  font-size: 13px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.buttons>button {
  width: 150px;
  height: 50px;
  border-radius: 60%;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar>input {
  width: 75%;
}
/* Sidebar sub-sections */
.sidebar>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 30px;
 
}
.sub-pages>div,
.page-settings>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-settings {
  margin-right: 50px;
}
.dashboard>h1 {
  font-size: 34px;
}

.sidebar .subpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.sidebar .dashboard>span {
  font-size: 48px;

}

/* Global element styles */
button {
  height: auto;
  width: 100px;
}

p {
  margin: 0px;
}

/* Icon styles */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

